.dataTable {
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.selectColor {
  min-width: max-content;
  width: 200px;
  margin: 0.5rem;
  > div {
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}

.selectOption {
  width: 80px;
  margin: 0.5rem;
  > div {
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}
