.groupMenu {
  margin: 1rem auto;
  width: 100%;
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  > * {
    margin: .5rem;
  }
}

@media screen and (min-width: 601px) {
  

}

@media screen and (max-width: 600px) {
  .groupMenu {
    flex-wrap: wrap;
  }
}


.block {
  pointer-events: none;
  user-select: none;
}

.loading {
  display: flex;
  margin: auto;
  width: 100%;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
