html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sarabun", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.format-select {
  display: flex;
  flex-direction: column;
}

.format-picker {
  display: flex;
  flex-wrap: wrap;
  label {
    width: 100%;
  }
}

.react-date-picker__wrapper {
  padding: .5rem;
}