.pagination {
  display: flex;
  border: cadetblue solid 2px;
  width: max-content;
  border-radius: 8px;
  span {
    padding: 8px 0;
    width: 2em;
    text-align: center;
    color: cadetblue;
    user-select: none;
    &:hover {
      background-color: mediumturquoise;
      color: #fff;
      cursor: pointer;
    }
  }
  .selected {
    background-color: cadetblue;
    color: #fff;
  }
  .disabled {
    color: grey;
    pointer-events: none;
    &:hover {
      background-color: transparent;
      color: grey;
      cursor: auto;
    }
  }
}
