.table {
  border-collapse: collapse;
  margin: auto;
  th,
  td {
    border: 0;
    padding: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .table {
    width: max-content;
    max-width: 960px;
    margin: auto;
    display: block;
    overflow-x: auto;
  }
}

@media screen and (max-width: 1024px) {
  .table {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .table {
    max-width: 480px;
  }
}

@media screen and (max-width: 600px) {
  .table {
    width: max-content;
    max-width: 300px;
  }
}

.start {
  text-align: start;
}
.center {
  text-align: center;
}
.end {
  text-align: end;
}

.thead {
  background-color: cadetblue;
  color: white;
}

.tbody {
  tr {
    &:nth-child(odd) {
      background-color: white;
    }

    &:nth-child(even) {
      background-color: #f5f5f5;
    }
  }
}

.sortable,
.unsortable {
  user-select: none;
}

.sortable {
  &:hover {
    cursor: pointer;
  }
}
